#cabecera{
    width: 1350px;
    height: 100px;
    border: 8px solid #ff7f00;
    margin-bottom: 5px;
    background: #A687C2;
}

#contenido{
    float: left;
    width: 1350px;
    height: 430px;
    border: 5px solid #red;
    margin-bottom: 5px;
    background: #C28A12;
}

#pie{
    width: 1350px;
    height: 100px;
    border: 8px solid #ff0000;
    background: #ff6600;
}

.clearfix{
    clear: both;
}